<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>系统公告</legend>
</fieldset>
<ul class="layui-timeline" style="margin-left: 2%">
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">系统管理员用户：</h3>
            <p>
                账号：工号, 例如：张三  1718
                <br>初始密码：123456
            </p>
        </div>
    </li>
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">小程序用户：</h3>
            <p>
                账号：学号, 例如：许俊发  1840706175
                <br>初始密码：123456
            </p>
        </div>
    </li>
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">超级管理员用户</h3>
            <p>
                <em>ps：</em>若想使用本系统请先联系超级管理添加账号密码
                <br>联系方式：xxx-8962152
                <br>地址：综合楼2楼 204
            </p>
        </div>
    </li>
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">系统操作说明</h3>
            <p>使用账号、初始密码登录系统/小程序，完善个人信息并修改密码
                <br>若使用过程中忘记密码，联系超级管理员重置密码
                <br><em>重置密码：123456</em>
            </p>
        </div>
    </li>
</ul>
<script type="text/javascript" src="/layui/layui.js"></script>
</body>
</html>
