<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/layui/css/layui.css">

</head>
<body>
<form class="layui-form" style="font-size: 20px;margin-top: 15px" >
    <input type="hidden" name="id" th:value="${admin.id }" id="id" />

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        头像：
        <span th:if="${admin.image}==null">
            该用户未上传头像
            <!--<img src="/image/touxiang.jpg" alt="" width="160" height="160" style="border-radius: 50%"/>-->
        </span>
        <span th:if="${admin.image}!=null">
            <img th:src="${admin.image}" alt="" width="160" height="160" style="border-radius: 50%"/>
        </span>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        用户名：
        <span th:text="${admin.username}"></span>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        密码(加密)：
        <span  th:text="${admin.password}"></span>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        姓名：
        <span th:text="${admin.nickname}"></span>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        性别：
            <span th:if="${admin.sex}==1" style="color: #1e9fff">男</span>
            <span th:if="${admin.sex}==2" style="color: #f581b1">女</span>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        电话：
        <span th:if="${admin.phone}==null">未填写</span>
       <span  th:text="${admin.phone}"></span>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        邮箱：
        <span th:if="${admin.email}==null">未填写</span>
        <span th:text="${admin.email}"></span>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        角色：
        <span th:if="${admin.roleId==1}" style="color: #f581b1">超级管理员</span>
        <span th:if="${admin.roleId==2}" style="color: #47cc74">管理员</span>
    </div>



</form>

<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['layer', 'jquery', 'table', 'laydate'], function () {
    });
</script>

<script type="text/html" id="picImg">
    <div>
        <img src="{{d.image}}" alt="" onclick="showBigImage(this)" width="80px" height="45px">
    </div>
</script>
</body>
</html>