<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
<form class="layui-form" style="margin-top: 5px;position: relative" id="auf">
    <input type="hidden" name="id" th:value="${admin.id }" id="id"/>

    <div class="layui-form-item">
        <div class="layui-input-inline">
            <input type="hidden" name="password" id="password" class="layui-input" lay-verify="required"
                   placeholder="请输入密码" th:value="123456" autocomplete="off">
        </div>
    </div>

    <div class="layui-form-item" style="position: absolute;left: -48px">
        <label class="layui-form-label"></label>
        确定重置用户名为
        <span style="color: #ff5823" th:text="${admin.username}"></span>
        的密码吗？
    </div>

    <div class="layui-form-item" style="position: absolute;left: 30px;top: 40px">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="resetPass">重置</button>
        </div>
    </div>
</form>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/adminUsers/resetPass.js"></script>
</body>
</html>