<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
<form class="layui-form" style="font-size: 18px;margin-top: 15px">
    <input type="hidden" name="id" th:value="${team.id }" id="id"/>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        团队名称：
        <span th:text="${team.teamName }"></span>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        项目名称：
        <span th:text="${team.projectName }"></span>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        成员：
        <span th:text="${team.members }"></span>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        指导老师：
        <span th:text="${team.adviser}"></span>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        内容：
        <div th:text="${team.content }" style="width: 680px;margin-left: 160px;margin-top: -25px"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        备注：
        <span th:text="${team.note}"></span>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        类型：
        <span th:if="${team.status==1}" style="color: #3294f8">待审核</span>
        <span th:if="${team.status==2}" style="color: #00b83f">审核通过</span>
        <span th:if="${team.status==3}" style="color: #ff5722">审核不通过</span>
        <span th:if="${team.status==4}">已失效</span>
    </div>

    <div class="layui-form-item" th:if="${team.status==2}">
        <label class="layui-form-label"></label>
        通过理由：
        <span th:text="${team.reason}"></span>
    </div>
    <div class="layui-form-item" th:if="${team.status==3}">
        <label class="layui-form-label"></label>
        不通过理由：
        <span th:text="${team.reason}"></span>
    </div>

</form>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['layer', 'jquery', 'table', 'laydate'], function () {
    });
</script>


</body>
</html>